{% load static %}
<div id="form-modal" _="on closeModal remove me">
    <h2>{{ title }}</h2>
    <form hx-post="{% url 'new-board' %}" novalidate="novalidate" class="board-form">
        <button type="button" class="close-btn" _="on click remove .cs-active from #form-wrapper
                                                    on click trigger closeModal"><img alt="close" src="{% static 'images/icon-cross.svg' %}" height="15" width="15" decoding="async" loading="lazy"/></button>
        {% csrf_token %}
        {# board form #}

        {# Include the hidden fields #}
        {% for hidden in board_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {# Include the visible fields #}
        <div class="fieldWrapper">
            <label for="{{ board_form.name.id_for_label }}">Board Name</label>
            {{ board_form.name.errors }}
            {{ board_form.name }}
        </div>

        <p class="label">Board Columns</p>

        {{ formset.management_form }}
        {# dynamic formsets #}
        <div class="columns-wrapper formset-wrapper">

            {% for column_form in formset %}
                <div class="column-form form" _="on removeField remove me">
                    {{ column_form.id }}
                    {{ column_form.col_name.errors }}
                    {{ column_form.col_name }}
                    <button type="button" _="on click trigger removeField"><img alt="close" src="{% static 'images/icon-cross.svg' %}" height="15" width="15" decoding="async" loading="lazy"/></button>
                </div>
            {% endfor %}

            <button class="btn-secondary" type="button" hx-get="{% url 'add-column' formset.total_form_count %}" hx-target=".columns-wrapper" hx-swap="beforeend" _="on click remove me">+ add new column</button>

        </div>

        <button class="btn-primary" type="submit">create new board</button>

    </form>
</div>