{% load static %}
<div class="new-formset-{{ new_total_formsets }} formset">
    <input hx-swap-oob="true" type="hidden" name="form-TOTAL_FORMS" value="{{ new_total_formsets }}" id="id_form-TOTAL_FORMS"/>

    <div class="new-column-form new-formset">
        {{ new_formset }}
        <button class="remove-btn" _="on click add .hidden to .new-formset-{{ new_total_formsets }}" type="button">
            <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg">
                <g fill="#828FA3" fill-rule="evenodd"><path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z"/><path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z"/></g>
            </svg>
        </button>
    </div>
    {% if new_total_formsets < 5 %}
        <button class="btn-secondary" hx-indicator="#spinner" type="button" hx-trigger="click" hx-get="{% url 'add-column' new_total_formsets %}" hx-target=".columns-wrapper" hx-swap="beforeend" _="on click remove me">
            + Add New Column
        </button>
    {% else %}
        <button class="btn-secondary" disabled="disabled">
            + Add New Column
        </button>
    {% endif %}

</div>