<div id="form-modal" _="on closeModal remove me">
    <h2>{{ title }}
        task</h2>
    <form hx-post="{% url 'edit-task' id=board.id t_id=task.id %}" novalidate="novalidate">
        <button type="button" class="close-btn" _="on click trigger closeModal">Close</button>
        {% csrf_token %}
        {{ task_form.non_field_errors }}
        <div>
            {{ task_form.title.as_field_group }}
        </div>

        <div>
            {{ task_form.description.as_field_group }}
        </div>

        <h3>Subtasks</h3>
        {# dynamic formsets #}
        {{ subtask_formset.management_form }}
        <div class="subtasks-wrapper">
            {# load in columns #}
            {% for form in subtask_formset %}
                <div _="on removeField remove me">
                    {{ form.id }}
                    {{ form.sub_name.errors }}
                    <label for="{{ form.sub_name.id_for_label }}">Col_name</label>
                    {{ form.DELETE }}
                    {{ form.sub_name }}
                    <button _="on click trigger removeField">X</button>
                </div>
            {% endfor %}
            <button type="button" hx-get="{% url 'add-subtask' subtask_formset.total_form_count %}" hx-target=".subtasks-wrapper" hx-swap="beforeend" _="on click remove me">add new subtask</button>
        </div>

        <div>
            {{ task_form.column.as_field_group }}
        </div>

        <button type="submit">save changes</button>
    </form>
</div>