{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Standard meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height,
                      width=device-width, initial-scale=1.0,
                      minimum-scale=1.0, maximum-scale=1.0,
                      user-scalable=no, target-densitydpi=device-dpi">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Preloads -->
    <link rel="preload" href="{% static 'css/index.css' %}" as="style"/>
    
    <link rel="icon" href="{% static 'images/favicon-32x32.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    {% block extrahead %}{% endblock %}

    <script defer="defer" src="{% static 'js/script.js' %}"></script>

    {% block title %}
      <title>Taskapp</title>
    {% endblock %}

  </head>

  <body>
    <header>
      <nav>
        {# logo #}
        <div class="logo">
          <img alt="logo" src="{% static 'images/logo-mobile.svg' %}" decoding="async" loading="eager" height="" width=""/>
          <img alt="logo-name" src="{% static 'images/logo-dark.svg' %}" decoding="async" loading="eager" height="" width=""/>
          <img alt="logo-name" src="{% static 'images/logo-light.svg' %}" decoding="async" loading="eager" height="" width=""/></div>
        {# fetch sidebar #}
        <div class="sidebar-wrapper" hx-get="{% url 'sidebar' %}" hx-trigger="load"></div>

        <div class="selected-board">
          {% if board %}
            <div class="board-name">
              <h2 class="heading-large">{{ board.name }}</h2>
              {# mobile nav toggle button #}
              {# add focus to sidebar when active* #}
              <button class="nav-toggle-btn" _="on click toggle .cs-active on .sidebar-wrapper
                                                   on click toggle .cs-active on .selected-board"><img class="nav-img" alt="" src="{% static 'images/icon-chevron-down.svg' %}" loading="lazy" decoding="async" height="" width="" aria-label="mobile menu toggle"/></button>
            </div>

            <div>
              {# new task button (disabled if no columns) #}
              {% if board.columns.all|length > 0 %}
                <button class="new-task-btn heading-medium" hx-indicator="#spinner-form" hx-get="{% url 'new-task' id=board.id %}" hx-swap="beforeend" hx-target="#form-wrapper" _="on click add .cs-active to #form-wrapper">
                  <img src="{% static 'images/icon-add-task-mobile.svg' %}" alt="new task" height="" width="" decoding="async" loading="eager"/>
                  <span>+ Add New Task</span></button>

                <button class="edit-toggle" _="on click toggle .cs-active on .board-edit"><img alt="" src="{% static 'images/icon-vertical-ellipsis.svg' %}" aria-hidden="true" height="" width="" loading="eager" decoding="async" aria-label="edit board toggle"/></button>

                <div class="edit-wrapper">
                  <div class="board-edit">

                    <button hx-get="{% url 'edit-board' id=board.id %}" hx-indicator="#spinner-form" hx-swap="beforeend" hx-target="#form-wrapper" _="on click add .cs-active to #form-wrapper
                                                                                                        on click remove .cs-active from .board-edit">edit board</button>

                    <button hx-get="{% url 'delete-board' id=board.id %}" hx-indicator="#spinner-form" hx-swap="beforeend" hx-target="#form-wrapper" _="on click add .cs-active to #form-wrapper
                                                                                                          on click remove .cs-active from .board-edit">delete board</button>
                  </div>
                </div>

                {# empty board - disabled task button #}
              {% else %}
                <button class="new-task-btn heading-medium" disabled="disabled">
                  <img src="{% static 'images/icon-add-task-mobile.svg' %}" alt="new task" height="" width="" decoding="async" loading="eager"/>
                  <span>+ Add New Task</span></button>

                <button class="edit-toggle" _="on click toggle .cs-active on .board-edit"><img alt="" src="{% static 'images/icon-vertical-ellipsis.svg' %}" aria-hidden="true" decoding="async" loading="eager" aria-label="edit board toggle"/></button>

                <div class="edit-wrapper">
                  <div class="board-edit">
                    <button hx-get="{% url 'edit-board' id=board.id %}" hx-indicator="#spinner-form" hx-swap="beforeend" hx-target="#form-wrapper" _="on click add .cs-active to #form-wrapper
                                                                                                        on click remove .cs-active from .board-edit">edit board</button>

                    <button hx-get="{% url 'delete-board' id=board.id %}" hx-indicator="#spinner-form" hx-swap="beforeend" hx-target="#form-wrapper" _="on click add .cs-active to #form-wrapper
                                                                                                          on click remove .cs-active from .board-edit">delete board</button>
                  </div>
                </div>
              {% endif %}

            {% else %}

              {# nav toggle button #}
              <button class="nav-toggle-btn" _="on click toggle .cs-active on .sidebar-wrapper
                       on click toggle .cs-active on .nav-img"><img class="nav-img" alt="" src="{% static 'images/icon-chevron-down.svg' %}" height="" width="" loading="eager" decoding="async" aria-label="mobile menu toggle"/></button>

            {% endif %}
          </div>
        </div>

      </nav>
    </header>

    <main>
      {# tablet / desktop sidebar toggle #}
      <button class="desktop-nav-toggle" _="on click add .cs-active to .sidebar-wrapper" aria-label="sidebar menu toggle">
        <img alt="" src="{% static 'images/icon-show-sidebar.svg' %}" height="" width="" loading="lazy" decoding="async"/>
      </button>

      {% if user.is_authenticated %}
        {# if on index page #}
        {% if user_boards %}

          <div class="boards-empty">
            <p class="heading-large">Please select a board or Create a new one to get started</p>
            <button class="btn-primary" hx-get="{% url 'new-board' %}" hx-indicator="#spinner-form" hx-swap="beforeend" hx-target="#form-wrapper" _="on click add .cs-active to #form-wrapper">+ Create New Board</button>
          </div>

        {% endif %}

        {# selected board #}
        <div id="board-wrapper">
          {% block content %}{% endblock %}
        </div>

        {# form modal #}
        <div id="form-wrapper" hx-target="this">
          <span id="spinner-form" class="htmx-indicator">loading...</span>
        </div>

      {% else %}
        <div class="auth-status">
          <p class="heading-large">Welcome, new user. Please
            <a href="{% url 'login' %}">Log in.</a>
          </p>
          <p class="heading-large">or
            <a href="{% url 'sign-up' %}">Signup</a>
          </p>
        </div>

      {% endif %}
    </main>

    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
  </body>

</html>