{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Standard meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height,
                      width=device-width, initial-scale=1.0,
                      minimum-scale=1.0, maximum-scale=1.0,
                      user-scalable=no, target-densitydpi=device-dpi">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block extrahead %}{% endblock %}

    {% block title %}
      <title>Taskapp</title>
    {% endblock %}

  </head>

  <body>
   <div id="container">
    <header>
      <nav>
        {# logo #}
        <p>LOGO</p>
        {# fetch sidebar #}
        <div class="sidebar-wrapper" hx-get="{% url 'sidebar' %}" hx-trigger="load"></div>
        <button _="on click toggle .cs-active on .sidebar-wrapper"><img alt="" src="{% static 'images/icon-chevron-down.svg' %}"/></button>
      </nav>
    </header>

    <main>
      {# selected board #}
      <div id="board-wrapper">
      {% block content %}
        
      {% endblock %} 
      </div>

      {# form modal #}
      <div id="form-wrapper" hx-target="this"></div>
    </main>
   </div> 

    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
  </body>

</html>