{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
{% endblock %}
{# board top bar #}
{% block content %}

    {# display columns and tasks of board #}
    {% if board %}
        {# if board is empty (format document creates icorrect space between list|length) #}
        {% if board.columns.all|length == 0 %}

            <p>This board is empty. Create a new column to get started.</p>
            <button hx-get="{% url 'edit-board' id=board.id %}" hx-target="#form-wrapper">New column</button>

        {% else %}
            {# for each column in board #}
            <div class="columns-container">
                {% for column in board.columns.all %}

                    <div class="column">
                        <h3>{{ column.col_name }}</h3>
                        {# list of tasks #}
                        <ul>
                            {% for task in column.tasks.all %}

                                <li hx-get="{% url 'view-task' id=board.id t_id=task.id %}" hx-trigger="click" hx-target="#form-wrapper">
                                    <p>{{ task.title }}</p>

                                    {# subtasks #}
                                    {% for subtask in task.subtasks.all %}
                                        {# add number of completed subtasks #}
                                        <p>subtask name:
                                            {{ subtask.title }}</p>

                                    {% endfor %}

                                    <span>subtask count:
                                        {{ task.subtasks.all.count }}</span>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                {% endfor %}
                <button hx-get="{% url 'edit-board' id=board.id %}" hx-target="#form-wrapper">New column</button>
            </div>
            
        {% endif %}

    {% else %}
        <p>Select a board</p>

    {% endif %}

{% endblock %}