<div id="form-modal" _="on closeModal remove me">
    <h2>{{ title }}
        board</h2>
    <form action="{% url 'new-board' %}" method="post">
        <button class="close-btn" _="on click trigger closeModal">Close</button>
        {% csrf_token %}
        {{ board_form.as_p }}

        <div class="columns-wrapper">
            <h3>Columns</h3>
        </div>
        <button hx-get="{% url 'add-column' %}" hx-target=".columns-wrapper" hx-swap="beforeend">add new column</button>
        <button type="submit">create new board</button>
    </form>
    <div>