{# display boards, add new board button #}
{% if user.is_authenticated %}
    <p>Welcome,
        {{ user.username }}. Thanks for logging in.</p>
    <a href="{% url 'logout' %}">Logout</a>

    <div class="sidebar">
        {% if all_boards %}
            <h3>All boards ({{ all_boards|length }})</h3>

            <ul>
                {% for board in all_boards %}
                    <li>
                        <button hx-get="{% url 'board-detail' id=board.id %}" hx-target="#board-wrapper">{{ board.name }}</button>
                    </li>

                {% endfor %}
            </ul>

        {% endif %}

        <button hx-get="{% url 'new-board' %}" hx-target="#form-wrapper">Add new board</button>

    </div>

{% else %}
    <p>Welcome, new user. Please
        <a href="{% url 'login' %}">log in.</a>
    </p>
    <p>or
        <a href="{% url 'sign-up' %}">Signup</a>
    </p>
{% endif %}